{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        babashka/babashka.curl {:mvn/version "0.1.2"}
        tick/tick {:mvn/version "0.7.5"}
        org.babashka/http-client {:mvn/version "0.4.16"}}
 :paths ["."]}
